body{
background:#0f0f15;
color:white;
font-family:Arial;
margin:0;
}

.nav{
display:flex;
justify-content:space-between;
padding:15px;
background:#111;
}

.nav a{
color:red;
text-decoration:none;
}

.container{
max-width:500px;
margin:auto;
padding:20px;
}

.card{
background:#181822;
padding:20px;
border-radius:10px;
margin-bottom:20px;
box-shadow:0 0 10px rgba(255,0,0,0.3);
}

input, button{
width:100%;
padding:10px;
margin-top:10px;
border:none;
border-radius:5px;
}

button{
background:red;
color:white;
cursor:pointer;
}
