body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0a0f2c,#8b0000);
color:white;
}

header{
background:black;
padding:15px;
text-align:center;
font-size:22px;
font-weight:bold;
box-shadow:0 0 20px red;
}

.container{
padding:20px;
}

.card{
background:rgba(0,0,0,0.85);
border:2px solid red;
border-radius:15px;
padding:20px;
margin-bottom:20px;
box-shadow:0 0 15px red;
}

input{
width:100%;
padding:10px;
margin-top:10px;
border-radius:8px;
border:none;
font-size:14px;
}

button{
width:100%;
padding:10px;
margin-top:15px;
border:none;
border-radius:8px;
background:linear-gradient(45deg,red,blue);
color:white;
font-weight:bold;
}

a{
color:cyan;
text-decoration:none;
}
